@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1548416799728'); /* IE9 */
  src: url('iconfont.eot?t=1548416799728#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABkAAAAJCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApIZQE2AiQDCAsGAAQgBYRtBzQbjwXIDiVNkcCA4iFBREjQsmX29ii9S3zXpSo0CqEQDgXSITQO4aoR/39Td2Vvxz2f1UrmVp1y/0v2hctPh2MN22EkyoCQIIPiocDG57mc3gQ6kLvqv5fntDeNNWlSL6B7cSAFugdGkZVQxg1jF7zAxwR9lkgS50cXWTKislcFeTb1MhkpxFSVFXtEV8PBKu9aPeW1vCPeou/nXyojFG3Dbrt6OqyRne+kU9Z/1bnyGBDiBDreosEBopK7xtyFfmFcv77cgDXkWM3hOxl3Aq8c1SXsr7MbB8ACzIfvpKd91GKBx5pqEjE/6UIyyV+W8t3r5ULvtXO1kG1fLeaijW3PGqtHUazE39+Nhd+FTO57pn82igKxHaT8Eb/pCcJnvvxfnN74G+mv4OtyZRU7q2EBenbjD79DM3CoGjrbU6qmaRQXk6fp6NOHDhwa8zXVPnlucfRMCHRbzNDosUFW9gCtfofo0uMIffYdH+83TuiX2os99wAx4g3FkA80RnyQlf1Ea8oPuoykH30eMn9hv62YY/sCygg1WmlRs8o95vpwLG5Ogx46ZZHXRXweRGAmaVLRysVj8EAssSWo6ylERpngLj0Cz4HjcOoLbkEVFQPRX1NV1vQmpcpdMuaMAMoQqKEqWihTFedhwXg0Vvl8GtCFHGWiY6CumAeEgDk7laTQBpDHZm/QwKO8EqjTpSDEUIzAuagjMA84HBzlN8+zgCqkMCZkfGtUZxQbala2t7p/dwL62I4SZ1ej7yXklln2kIeEAA==') format('woff2'),
  url('iconfont.woff?t=1548416799728') format('woff'),
  url('iconfont.ttf?t=1548416799728') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1548416799728#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuojiantou:before {
  content: "\e731";
}

